<launch>  

  <!-- for commanding goal positions and tasks -->
  <node 
    name="keyboard"
    pkg="keyboard" 
    type="keyboard" 
    output="screen" 
    cwd="node" >  
  </node>
  
  
  <!-- for translating keyboard messages to TOWR commands -->
  <node 
    name="user_interface_node" 
    pkg="towr_ros" 
    type="user_interface_node" 
    output="screen" 
    cwd="node" >  
  </node>
   
  
  <!-- upload some parameters on the parameter server -->
  <group ns="towr">
    <param name="rosbag_folder" value="$(find towr_ros)/bags" type="string"/>   
  </group> 
  
  <node 
    name="towr_ros" 
    pkg="towr_ros" 
    type="towr_ros_interface" 
    output="screen">
  </node>
    
</launch>
