<launch>

  <!-- so the logging prints the node name -->
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}" />

  <!-- XPP: Visualize feet, base and forces -->
  <include file="$(find xpp_vis)/launch/xpp.launch"></include>
    
  <!-- TOWR: Start the optimizer with GUI-->
  <include file="$(find towr_ros)/launch/towr_core.launch"></include>
       
</launch>