<launch>
  <!-- zmp optimization paramters -->
  <group ns="xpp">  
    <param name="swing_time"          value="0.7"  type="double"/>
    <param name="stance_time"         value="0.2"  type="double" />	
    <param name="robot_height"        value="0.58" type="double"/> 
    <param name="stance_time_initial" value="0.4"  type="double"/> 
    <param name="stance_time_final"   value="0.2"  type="double"/> 
  </group>
  <group ns="exec">
  	<param name="use_virtual_model"      value="true"  type="bool"/>
  	<param name="ff_spline_duration"     value="0.2"   type="double"/>
    <param name="lift_height"            value="0.15"  type="double"/> 
    <param name="outward_swing_distance" value="0.25"  type="double"/>   	
  </group>
</launch>
