<launch>
  <include file="$(find xpp_ros)/launch/xpp_params.launch"></include>
  
  <!-- so the logging print the node name -->
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find xpp_ros)/config/xpp.conf"/>

  <!-- launches the actual nlp server -->
  <include file="$(find xpp_ros)/launch/optimizer.launch"></include>
  
  
  <!-- for commanding goal position and user input -->
  <node name="nlp_user_input_node" pkg="xpp_ros" type="nlp_user_input_node" output="screen" cwd="node" >  </node>
  <node name="goal_visualizer"     pkg="xpp_ros" type="goal_visualizer_node" output="screen" cwd="node" >  </node>
  <!-- <node name="keyboard" pkg="keyboard" type="keyboard" output="screen" cwd="node" >  </node> -->
  <!--  <node name="joy" pkg="joy" type="joy_node" output="screen" cwd="node" >  </node>  -->
  
  <!-- specifies the initial position of the robot. Only neccessary
  if SL is not sending it. -->
  <node name="sample_nlp_caller" pkg="xpp_ros" type="sample_nlp_caller" args="0 0 0 0 0 0" output="screen" cwd="node" >  </node>
  
  
  <!-- if rviz visualization is desired -->
  <arg name="vis" default="false"/>
  <group if="$(arg vis)">
    <include file="$(find xpp_vis)/launch/xpp_visualization.launch"></include>
  </group>
  
</launch>
